
body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5{
    color: white;
}

.gray-font{
    color: gray;
}


.container{
    background-color: rgb(27, 26, 26);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    flex-direction: column;
}



.left-justify{
    text-align: left;
}

.right-justify{
    text-align: right;
}


/**
Personal Information styles
*/
.personal-details{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: rgb(90, 89, 89) solid 2px;

}

#display-image{
    width: 350px;
}

.display-name{
    width: 350px;
    flex-grow: 2;
    

}

.contact-info{
    width: 350px;
    align-items: center;
    

}

#summary-statement{
    color: gray;

}



/****************************Employment & Education************************************/
#emp-edu-skill{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

#emp-edu{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
       
}

#employment-details{
    display: flex;
    flex-direction: column;
    padding-right: 15px;
}

#employement-sub-heading{
    display: flex;
    flex-direction: row;
    align-items: self-start;
    gap: 10px;
    background-color: gray;
    height: 50px;
    font-weight: 200;
}
.drop-down-arrow{
    background-color: rgb(0, 217, 255);
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    border-radius: 3px;
    
}

#companies-worked{
    display: flex;
    flex-direction: column;

}
.companies-worked-container{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}
.left-pointing-arrow{
    background-color: rgb(0, 217, 255);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
}
.name-of-employer{
    flex-grow: 2;
   margin-left: 35px;

}
.period-of-employemnt{
    color: gray;
    

}


#sill-summary{
    flex-grow: 0;
    width: 30%;
    padding-left: 15px;
   
}



/****************************EDUCATION DETAILS************************************/
#education-details{
    display: flex;
    flex-direction: column;
    padding-right: 15px;
}

#education-sub-heading{
    display: flex;
    flex-direction: row;
    align-items: self-start;
    gap: 10px;
    background-color: gray;
    height: 50px;
    font-weight: 200;
}

.edu-down-arrow{
    background-color: rgb(35, 145, 72);
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    border-radius: 3px;
}

#schools-attended{
    display: flex;
    flex-direction: column;

}
.schools-attended-container{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

.edu-left-pointing-arrow{
    background-color: rgb(35, 145, 72);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
}

.name-of-school{
    flex-grow: 2;
    margin-left: 35px;
}